@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

$colorWhite: #fff;
$backgroundColor: #fcf4ea;
$BackgroundColorForm: #1c2843;
$colorBtnForm: #fe9564;
$colorBlack: #2d2720;
$colorPlaceholder: #6b6b6b;
$colorFilledInput: #6f6f6f;

$fontTitle: 'Squada One', sans-serif;
$fontText: 'Roboto Slab', serif;
