@media (max-width: 515px) {
  .heading-wrapper {
    margin-top: 5px;
    margin-bottom: 53px;

    h1 {
      font-size: 46px;
    }

    p {
      font-size: 17px;
      line-height: 30px;
      padding: 0 30px;
    }
  }

  .hero-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    #img-hero {
      width: 89%;
      margin: 0;
      padding: 8px;
      border: 3px solid black;
    }

    form {
      position: static;
      gap: 0;
      padding: 32px 38px;
      padding-bottom: 0;

      h2 {
        font-size: 36px;
        margin-bottom: 38px;
      }

      .input-group {
        display: flex;
        flex-direction: column;
        row-gap: 0;
      }

      @for $i from 2 through 5 {
        .input-group:nth-child(#{$i}) {
          margin-bottom: 0;
        }
      }

      .input {
        margin-bottom: 12px;
        font-size: 14px;
        letter-spacing: 2px;
        padding: 10px 13px;
      }

      .mobile {
        margin-top: 24px;
        margin-bottom: 40px;
        font-size: 19px;
        padding: 16px 0;
        width: 380px;
      }
    }
  }
}
