@media (max-width: 510px) {
  .heading-wrapper {
    margin-top: 0.7rem;
    h1 {
      font-size: 46px;
    }

    p {
      font-size: 16px;
      line-height: 2rem;
      padding: 0 2.6rem;
    }
  }

  .hero-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    #img-hero {
      width: 90%;
      margin: 0;
    }

    form {
      position: static;
      gap: 0;

      .input-group {
        display: flex;
        flex-direction: column;
        row-gap: 0;
      }

      .input-group:nth-child(2) {
        margin-bottom: 0;
      }
      .input-group:nth-child(5) {
        margin-bottom: 0;
      }

      .input {
        margin-bottom: 1rem;
      }

      .mobile-error {
        color: hotpink;
        position: absolute;
      }
    }
  }
}
