@import './config';
@import './buttons';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  background-color: $backgroundColor;
}

main {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

/***********************************/
/* HEADING*/
/***********************************/

.heading-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
  gap: 18px;

  h1 {
    font-family: $fontTitle;
    text-transform: uppercase;
    color: $colorBlack;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 1.3px;
  }

  p {
    max-width: 750px;
    align-self: center;
    font-family: $fontText;
    text-transform: capitalize;
    font-size: 21px;
    font-weight: 500;
    line-height: 2.3rem;
    letter-spacing: 0.9px;
  }
}

.hero-form-container {
  position: relative;
}

#img-hero {
  padding: 1rem;
  max-width: 1062px;
  border: 2px solid $colorBlack;
  margin-left: 278px;
}

/***********************************/
/* BOOKING FORM */
/***********************************/

form {
  position: absolute;
  top: 21.5%;
  right: 14.2%;
  background-color: $BackgroundColorForm;
  padding: 40px 34px;
  padding-bottom: 32px;

  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    font-family: $fontTitle;
    color: $colorWhite;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 1.8px;
    margin-bottom: 42px;
  }

  .input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 15px;
  }
  .input-group:nth-child(2) {
    margin-bottom: 43px;
  }
  .input-group:nth-child(3) {
    margin-bottom: 20px;
  }
  .input-group:nth-child(4) {
    margin-bottom: 29px;
  }
  .input-group:nth-child(5) {
    margin-bottom: 30px;
  }

  .input {
    border: none;
    background-color: $colorWhite;
    font-family: $fontText;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 14px 13px;

    &::placeholder {
      text-transform: capitalize;
    }
  }

  .select {
    border-radius: 6px;
    color: $colorPlaceholder;
    text-transform: capitalize;
    font-size: 14px;
    padding: 13px 5px;
  }

  .form-err-msg {
    color: #e04640;
    margin-top: 5px;
    font-family: $fontText;
    font-size: 14px;
    grid-row: 2;
  }
}

/***********************************/
/* MEDIA QUERRIES */
/***********************************/
@import './mobile';
